.carousel-inner img{
    height: 100vh;
    background-size: cover;
}
.carousel-inner{
    position: relative;
}
.carousel-inner .carousel-caption{
    width: 95%;
    top: 5.5rem;
    left: 2.4rem;
    right: 2.4rem;
    text-align: start;
    display: flex;
    flex-wrap: wrap; 
}
.carousel-inner .carousel-item{
    background-size: cover;
}



.carousel-text{
   margin: auto 0;
   width: 650px;
}
.carousel-text h5{
    font-size: 2.8rem;
    z-index: 10001;
    color: rgb(219, 219, 219);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 10px;
}
.carousel-text .span{
    background: #00A8E1;
    padding: 5px 7px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
}
.carousel-text p{
    width: 90%;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.carousel-caption img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin: auto 0;
}

.wat-btn{
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 200;
    letter-spacing: 2px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: .8rem
}


.carousel-indicators button{
    width: .9rem !important;
    height: .9rem !important;
    border-radius: 50% !important;
    margin-left: 10px !important;
    background-color: #00A8E1 !important;
    
}
.carousel-indicators button.active{
    background-color: rgba(168, 168, 168, 0.87) !important;
}


@media (max-width:1280px){
   
}

@media (max-width:1150px){
    
}


@media (max-width:1024px){
   
}

@media (max-width:941px){
    
}

@media screen and (max-width:768px){
    .carousel-text h5{
        font-size: 2.5rem;
    }
    .carousel-text p{
        font-size: 1.5rem;
    }
    .carousel-item{
        background-position: top center;
    }
    
}

@media screen and (max-width:540px){
   
}


@media screen and (max-width:414px){
    .carousel-text h5{
        font-size: 1.5rem;
    }
    .carousel-text p{
        font-size: 1rem;
    }
    .carousel-item{
        background-position: top center;
    }
}


@media screen and (max-width:411px){
    .carousel-text h5{
        font-size: 1.3rem;
    }
    .carousel-text p{
        font-size: .8rem;
    }
    .carousel-item{
        background-position: top center;
    }
}
@media screen and (max-width:375px){
    .carousel-item{
        background-position: top center;
    }
}


@media screen and (max-width:360px){
    .carousel-text h5{
        font-size: 1.3rem;
    }
    .carousel-text p{
        font-size: .8rem;
    }
    .carousel-item{
        background-position: top center;
    }
}


@media screen and (max-width:320px){
   
  
}