*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: #111c25;
    color: white;
}    
.navbar-brand img{
    width: 180px;
    height: 35px;
    object-fit: contain;
}
.navbar-nav li a{
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}
.navbar-nav li a.active{
    color: #00A8E1 !important;
}
.navbar-nav li a:hover{
    color:#00A8E1;
}
.d-login .dropdown-toggle{
    background-color: #00A8E1;
    color: black;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:840px){
    .navbar-nav{
        text-align: center;
    }
    .d-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}