.watchlist-wrapper{
    background-color: #111c25;
    height: auto;
    padding-left: 5px;
    padding-top: 10px;
}
.watchlist-movies{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.watchlist-movies img{
    width: 400px;
    height: 300px;
    object-fit: contain;
    margin-left: 20px;
    border-radius: 5px;
}
.posters{
    position: relative;
    overflow: hidden;
}

.add-watchs{
    position: absolute;
    color: rgb(206, 206, 206);
    background-color: #111c25a8;
    top: -300px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
   
}
.add-watchs h5{
    font-size: 17px;
    padding-top: 10px;
    margin-left: 35px;
}

.add-watchs i{
    margin-left: 25px;
    background-color: rgba(167, 167, 167, 0.308);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.add-watchs i:hover{
    color: white;
}

.posters:hover .add-watchs{
    top: 0px;
}


@media screen and (max-width:414px){
    .watchlist-movies img{
        width: 180px;
        height: 100px;
    }
}